html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.cont_desc{
  background-color: lavender;
}
.desc_car {
  margin-top: 10px;
  margin-bottom: 10px;
}
.price {
   margin-top: 10px;
  margin-bottom: 10px;
}